<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>::상세보기::</title>
  
  <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/album/">

  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <!--
  <link rel="stylesheet" type="text/css" href="../../static/css/feed-style.css">
  -->

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="../../assets/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="../../assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="../../assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="../../assets/img/favicons/site.webmanifest">
  <link rel="icon" href="../../assets/img/favicons/favicon.ico">  
</head>
<body>
  <header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a href="#" th:href="@{/}" class="navbar-brand d-flex align-items-center">
          <strong>◀</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>

  <main>
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-3">
          
          <!-- d-flex justify-content-center: 하위 요소 가운데 정렬 -->
          <div class="row col d-flex justify-content-center">
            <!-- 상위 요소에 row 설정 후 하위 요소 너비 col-6 지정 -->
            <div class="col-6 card shadow-sm">
              <svg class="pt-3 bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              <div class="card-body">
                <h5 class="card-title">UserName</h5>
                <small class="card-text">2023-01-01</small>
                <p class="card-text mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">👍</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">❤️</button>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">삭제하기</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary"
					th:onclick="|location.href='@{/visit/{postID}/edit(postID=${post.postId})}'|">수정하기</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </main>

  <footer class="text-bg-dark">
    <ul class="nav justify-content-center mb-3">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-white">피드</a></li>
      <li class="nav-item"><a href="/" class="nav-link px-2 text-white">내 발자국</a></li>
      <li class="nav-item"><a href="/" class="nav-link px-2 text-white">지도</a></li>
    </ul>
    <p class="text-center text-white">&copy; 2022. Himedia Inc. all rights reserved</p>
  </footer>

  <!--
    부트스트랩 애니메이션
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  -->
</body>
</html>